.card {
    padding: 16px;
    margin: 16px;
    border-radius: 12px;
    background-color: antiquewhite;

    & .card__text {
        font-style: italic;
    }

    & .card__link {
        text-decoration: none;
    }
}

.card--featured {
    border: 3px solid salmon;
    color: rgb(162, 11, 199);

    & .card__title {
        font-weight: 300;
    }

    & .card__link {
        color: rgb(10, 171, 91);
    }

    & .card__link:hover {
        font-weight: 600;
    }
}
