body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

p {
    font-weight: 600;
    color:rgb(33 185 185);
}

.destacado {
    color:blueviolet
}

section p {
    color:crimson
}