body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

h1 {
    color:brown
}

p {
    color:rgb(236 110 65)
}

.card {
    padding: 10% 25% 25% 10%;
    background-color:rgb(255 196 243);
}

a {
    color:rgb(127 201 15)
}
