.course-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 3fr));
    gap: 2rem;
    margin-bottom: 2rem;
}

.course-card {
    padding: 1rem;
    border: 1px solid rgb(252 249 247);
    border-radius: 10px;
    transition:
        transform 0.2s ease,
        box-shadow 0.2s ease;
}

.course-card strong {
    color: #e5e7eb;
}

.course-card:hover {
    border-color: #2563eb;
    box-shadow: 0 8px 20px #2564ebb6;
    transform: translateY(-4px);
}

.course-card button {
    padding: 8px 12px;
    margin-top: 12px;
    color: white;
    background-color: #0347db;
    border: none;
    border-radius: 8px;
    transition: background-color 0.2s ease;
}

.course-card button:hover {
    background-color: #2563eb;
}
