* {
    box-sizing: border-box;
}

.caja {
    width: 400px;
    padding: 20px;
    margin: 10px;
    border: 15px solid rgb(251 140 109);
    border-radius: 2rem;
}

.caja--padding {
    padding: 50px 60px 100px;
}

.caja--margin {
    margin: 50px 60px 100px;
}

