* {
    box-sizing: content-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #ffe628;
}

section {
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    grid-gap: 20px;
    align-content: center;
}

article {
    background-color: white;
}

figure {
    position: relative;
    min-height: 8rem;
    background-color: #dcdcdc;
    display: flex;
    justify-content: center;
    align-items: center;
}

figcaption {
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #cdcdc8;
    color: #8f7763;
    padding: 0.2rem 1rem;
}

div {
    margin: 0.5rem;
}

.evolution {
    border-left: 3px solid #633c23;
}

h1 {
    color: #1e1e1e
}

li {
    list-style: none;
}