@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Quicksand:wght@300..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

* {
    box-sizing: content-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #ffe628;
    font-family: "Ubuntu", sans-serif;
}
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    margin: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

input[type="search"] {
    padding: 10px;
    background-color: #fffaeb;
    border: none;
    box-shadow: 0 0 13px 0 #1e1e1e46;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 3fr));
    margin: 0 auto;
    max-width: 800px;
    gap: 20px;
    align-content: center;
}

.ficha-pokemon {
    background-color: white;
    box-shadow: 0 0 13px 0 #1e1e1e46;
}

figure {
    position: relative;
    min-height: 8rem;
    background-color: #dcdcdc;
    display: flex;
    justify-content: center;
    align-items: center;
}

figcaption {
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #cdcdc8;
    color: #8c735f;
    font-size: 10pt;
    font-weight: 500;
    padding: 3px 11px;
}

div {
    margin: 0.5rem;
}

.evolution {
    border-left: 3px solid #633c23;
}

h1 {
    font-size: 16pt;
    margin-bottom: 2px;
    color: #1e1e1e;
}

li {
    list-style: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 8pt;
    color: #af988b;
    border: 1px solid #bcb2ab;
    padding: 1px 2px;
    border-radius: 5px;
}
