h1 {
    font-size: 3rem;
}

dialog {
    padding: 30% 2px 10% 10%;
    font-weight: 600;
    color: white;
    background-color: rgb(215 9 9)
}

div {
    padding: 30vw 2vh;
    background-color:darksalmon;
}