@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Quicksand:wght@300..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import 'tailwindcss';

:root {
    --background-color: #ffe628;
    --background-searcher: #fffaeb;
    --background-image-cards: #dcdcdc;
    --background-image-figcaption: #c5c5c3;
    --decoration-top: black;
    --decoration-botom: #e62828;
    --primary-color: #1e1e1e;
    --primary-color-opacity: #1e1e1e63;
    --secondary-color: #5c2507;
}

* {
    box-sizing: content-box;
    margin: 0;
}

body {
    position: relative;
    font-family: Ubuntu, sans-serif;
    background-color: var(--background-color);
}

.container {
    min-width: 200px;
    max-width: min(1000px, 60%);
    margin: 0 auto;
}

.pokefilter {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0;
}

input[type='search'] {
    box-sizing: border-box;
    width: 100%;
    padding: 0.75rem;
    background-color: var(--background-searcher);
    border: none;
    box-shadow: 0 0 13px 0 var(--primary-color-opacity);
}

input::placeholder {
    text-align: center;
}

.pokegrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 3fr));
    gap: 20px;
    align-content: center;
    width: 100%;
    margin: 0 auto;
}

.card {
    background-color: white;
    box-shadow: 0 7px 13px var(--primary-color-opacity);
    transition: transform 0.3s ease-out;
}

.card:hover {
    transform: scale(1.06) rotate(-0.9deg);
}

figure img {
    position: relative;
    transition: transform 0.3s ease;
}

.card:hover img {
    transform: scale(1.4);
}

figure {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 8rem;
    overflow: hidden;
    background-color: var(--background-image-cards);
}

figure::before {
    position: absolute;
    inset: 0;
    content: '';
    background: linear-gradient(135deg, var(--color1) 40%, var(--color2) 60%);
    opacity: 0;
    transition: opacity 0.3s ease;
}

figure:hover::before {
    opacity: 1;
}

figcaption {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 3px 11px;
    font-size: 10pt;
    font-weight: 500;
    color: var(--secondary-color);
    background-color: var(--background-image-figcaption);
}

.info-pokemon {
    padding-left: 0.1rem;
    margin: 0.5rem;
}

h1 {
    padding: 0.25rem;
    margin-bottom: 2px;
    font-size: 16pt;
    color: var(--primary-color);
}

.type {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    padding: 0 0.25rem 0.5rem;
}

li {
    padding: 1.5px 3px;
    font-size: 8pt;
    color: var(--secondary-color);
    text-transform: uppercase;
    list-style: none;
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
    transition: background-color 0.5s ease;
}

.evolution {
    padding: 0 0.5rem;
    margin: 0 0.25rem;
    border-left: 3px solid var(--secondary-color);
}

.evolution p {
    font-size: 10pt;
    font-weight: 300;
    color: var(--secondary-color);
}

.evolution span {
    display: block;
    font-size: 14pt;
    font-weight: 400;
}

.buttons {
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin: 1.5rem;
}

.buttons button {
    padding: 10px 20px;
    color: white;
    background-color: var(--secondary-color);
    border: none;
    border-radius: 1rem;
}

.buttons button:hover {
    background-color: var(--decoration-botom);
    box-shadow: 0 0 4px 0 var(--secondary-color);
    transform: translateY(-2px);
}

.buttons button:disabled {
    cursor: not-allowed;
    background-color: var(--primary-color);
    opacity: 0.5;
    transform: none;
}

/* Decoraciones de fondo */
.box-left {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 150px;
    height: 150px;
    background-color: var(--decoration-top);
    transform: rotate(45deg);
    translate: -75px -75px;
}

.box-right {
    position: fixed;
    top: 0;
    right: 0;
    z-index: -1;
    width: 150px;
    height: 150px;
    background-color: var(--decoration-top);
    transform: rotate(45deg);
    translate: 75px -75px;
}

.circle-left {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 150px;
    height: 150px;
    background-color: var(--decoration-botom);
    border-radius: 100px;
    translate: -75px 75px;
}

.circle-right {
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: -1;
    width: 150px;
    height: 150px;
    background-color: var(--decoration-botom);
    border-radius: 100px;
    translate: 75px 75px;
}
