@import 'tailwindcss';

:root {
    --text: #6b6375;
    --text-h: #08060d;
    --bg: #f7d7fc;
    --bg-button: #ea8afb;
    --border: #aa3bff;
    --shadow: rgb(0 0 0 / 10%) 0 10px 15px -3px, rgb(0 0 0 / 5%) 0 4px 6px -2px;
    --sans: system-ui, 'Segoe UI', roboto, sans-serif;
    --heading: system-ui, 'Segoe UI', roboto, sans-serif;
    --code-bg: #f4f3ec;
    --accent: #7509c9;

    font: 18px/145% var(--sans);
    font-synthesis: none;
    color: var(--text);
    letter-spacing: 0.18px;
    color-scheme: light dark;
    background: var(--bg);
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
}

#root {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 1126px;
    max-width: 100%;
    min-height: 100svh;
    padding: 2rem;
    margin: 0 auto;
    border-inline: 1px solid var(--border);
}

body {
    margin: 0;
}

h1,
h2 {
    font-family: var(--heading);
    font-weight: 500;
    line-height: normal;
    color: var(--text-h);
}

h1 {
    margin: 32px 0;
    font-size: 56px;
    letter-spacing: -1.68px;

    @media (width <= 1024px) {
        margin: 20px 0;
        font-size: 36px;
    }
}

h2 {
    margin: 0 0 8px;
    font-size: 24px;
    line-height: 118%;
    letter-spacing: -0.24px;

    @media (width <= 1024px) {
        font-size: 20px;
    }
}

form input {
    background-color: #f4f3ec;
    border: 1px solid var(--border);
}

input[type='submit'] {
    background-color: var(--accent);
}
